.advantage {
  max-width: 1520px;
  margin: auto;
  &__content {
    display: flex;
  }
  &__title {
    text-align: center;
    margin-bottom: 15px;
  }
  &__picture {
    h5 {
      transform: translateY(700%);
      margin-left: 72px;
      color: $text-white;
    }
  }
  &__wrapper {
    display: flex;
  }
  &__text {
    margin-top: 50px;
    margin-left: 80px;
    h5 {
      color: #34449c;
    }
    .description {
      padding-top: 0px;
      margin-bottom: 24px;
      width: 90%;
    }
  }
  &__items {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content:space-between;
    transform: translateY(-30%);
  }
  &__item {
    display: inline-block;
    background: linear-gradient(236.29deg, #ffffff 29.99%, #f4f9ff 79.17%);
    box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
    border-radius: 20px;
    width: 19%;
    padding: 32px 32px;
    .description{
        width: 100%;
    }
  }
  &__header{
      @include font(16px,150%,700);
      padding-top: 16px;
      &_bounded{
        width: 70%;
      }
  }
}
.question {
  position: absolute;
  transform: translateY(-390%);
  margin-left: 75px;
  padding: 20px 20px;
  display: inline-block;
  background: linear-gradient(326.06deg, #f0ebff 11.53%, #ffffff 74.32%);
  box-shadow: 0px 13.5277px 39.7872px rgba(187, 166, 255, 0.78);
  border-radius: 11.9362px;
  &__title {
    @include font(12px, 16px, 700);
    color: $text-black;
    padding-bottom: 10px;
  }
  &__button {
    @include button(
      16px 22px,
      8px,
      linear-gradient(326.06deg, #2641d1 11.53%, #3333a3 74.32%)
    );
    @include font(12px, 14px, 700);
    color: $text-white;
  }
}
.descriptions {
  width: 55%;
}
.settings {
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }
  .description {
    width: 100%;
    margin-bottom: 0px;
    padding-left: 12px;
  }
}
