.expert {
  max-width: 1520px;
  margin: auto;
  .container{
    display: flex;
  }
  &-quote {
    margin-left: 190px;
    transform: translateY(-70%);
    padding: 51px 32px 32px 32px;
    width: 45%;
    display: inline-block;
    background: linear-gradient(331.41deg, #f0ebff -4.05%, #ffffff 34.42%);
    box-shadow: 0px 13.5277px 39.7872px rgba(187, 166, 255, 0.2);
    border-radius: 12px;
    &__description {
      position: relative;
      @include font(12px, 150%);
      font-style: italic;
      &:before {
        position: absolute;
        content: "";
        bottom: 74px;
        left: 0;
        background: url(/img/quotes.svg) no-repeat;
        width: 30px;
        height: 15px;
      }
    }
  }
  &__text{
    margin-top: 60px;
    transform: translateX(-28%);
  }
  &__description {
    @include font(14px, 20px);
    width: 84%;
    &:last-of-type{
      margin-top: 16px;
    }
  }
  &__experience{
    margin-top: 16px;
    margin-bottom: 32px;
    @include font(14px, 20px, bold);
  }
  &__position {
    @include font(14px, 20px);
  }
  &__button{
    @include button(16px 32px);
    @include font(16px,18px,bold);
    color: $text-white;
    margin-top: 32px;
  }
  li {
    @include font(14px, 20px, normal);
    margin-left: 25px;
  }
}

.expert{
  @include mobile{
    .container{
      flex-direction: column-reverse;
    }
    &__img{
      max-width: 260px;
    }
    &__text{
      transform:translateX(0%);
      margin-top: 0;
      padding: 0 10px;
      margin-bottom: 32px;
    }
    &__position{
      text-align: center;
    }
    h2{
      text-align: center;
    }
    &__experience{
      text-align: center;
    }
    &__description{
      width: 100%;
      &:last-of-type{
        margin-top: 8px;
      }
    }
    &__button{
      display: block;
      margin: auto;
      margin-top: 16px;
      padding: 20px 32px;
      width: 80%;
    }
    &-quote{
      padding: 38px 16px 16px 16px;
      margin-left: 70px;
      width: 80%;
      transform: translateY(-45%);
      &__description{
        &::before{
          bottom: 76px;
        }
      }
    }
  }
}