.footer {
  max-width: 1520px;
  margin: auto;
  border-top: 1px solid #959ba3;
  &__row {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    margin-bottom: 32px;
  }
  padding-top: 32px;
  &__content {
    display: flex;
    align-items: center;
  }
  &__description {
    width: 40%;
    @include font(12px, 20px);
    color: $text-black;
  }
  &-media {
    &__item {
      padding: 5px 10px 10px 10px;
      border: 1px solid #cfdae7;
      box-sizing: border-box;
      border-radius: 10px;
      display: inline-block;
      transition: 0.3s;
      &:hover {
        background: rgb(241, 240, 240);
      }
    }
  }
  &-end {
    padding: 16px 0;
    background: #e8edf3;
    &__wrapper {
      display: flex;
      margin: auto;
      justify-content: space-between;
      width: 90%;
    }
    &__row{
      .br{
        display: none
      }
    }
    span {
      @include font(12px, 20px);
      color: #7a7a7a;
      margin-right: 16px;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.footer {
  @include mobile {
    &__row {
      flex-direction: column;
    }
    &__content {
      display: flex;
      flex-direction: column;
      .logo {
        text-align: center;
        width: 100%;
        justify-content: center;
        img {
          width: 75px;
        }
      }
    }
    &__description {
      width: 100%;
      margin-top: 16px;
      text-align: center;
      width: 90%;
      margin-bottom: 32px;
    }
    &-media {
      margin-top: 32px;
      display: flex;
      margin: auto;
      &__item {
        width: 45px;
        height: 45px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        img {
          width: 60px;
          height: 20px;
        }
      }
    }
    &-end {
      &__wrapper {
          flex-direction: column-reverse;
          span {
            text-align: center;
            margin: auto;
            width: 100%;
          }
          span:first-of-type {
            margin: auto;
            width: 70%;
            margin-top: 32px;
            margin-bottom: 10px;
          }
      }
      &__row {
          flex-direction: column;
          align-items: center;
          text-align: center;
          .br{
            display: block;
          }
      }
    }
  }
}
