.forecast {
  max-width: 1520px;
  margin: auto;
  margin-bottom: 144px;
  display: flex;
  justify-content: space-between;
  padding: 96px 80px;
  margin-top: 128px;
  background: $bg-blue;
  &__title {
    color: $text-white;
    width: 45%;
  }
  &-info {
    &:last-of-type {
      margin-right: 0;
    }
    margin-right: 16px;
    display: inline-block;
    &__description {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  h5 {
    text-align: center;
    @include font(32px, 150%, bold);
    @include gradient;
  }
  span {
    @include font(14px, 20px);
    color: $text-white;
  }
}

.forecast{
  @include mobile{
    margin-bottom: 72px;
    padding: 0;
    flex-direction: column;
    padding: 48px 0;
    margin-top: 72px;
    &__title{
      font-size: 24px;
      line-height: 30px;
      text-align: center;
      margin: auto;
      margin-bottom: 32px;
    }
    &-info{
      &_first,&_second{
        margin-bottom: 16px;
      }
      h5{
        font-size: 24px;
      }
      span{
        font-size: 12px;
      }
      &_third{
        margin: -20px;
      }
      &_fourth{
        margin-left: 50px;
      }
      &__description{
        &_third{
          width: 70%;
          text-align: center;
          margin: auto;
        }
      }
    }
    &__row{
      padding: 0px 0px 48px 46px;
    }
  }
}