@mixin font($size, $lh,$weight:normal) {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: $weight;
    font-size: $size;
    line-height: $lh;
}

@mixin button($padding,$br:15px,$back:#273895) {
    padding: $padding;
    background: $back;
    border-radius: $br;
    border: none;
    cursor: pointer;
}