@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.support__title {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #000;
}

.support__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.support__item {
  display: inline-block;
  background: #ffffff;
  border-radius: 10px;
  padding: 32px 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.support__item h4 {
  text-align: left;
  margin-top: 16px;
  margin-bottom: 0;
}

.support__img {
  display: block;
  margin: auto;
}

.support__description {
  margin-top: 16px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}

.advantage__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantage__title {
  text-align: center;
  margin-bottom: 15px;
}

.advantage__picture h5 {
  -webkit-transform: translateY(700%);
          transform: translateY(700%);
  margin-left: 72px;
  color: #fff;
}

.advantage__text {
  margin-top: 50px;
  margin-left: 80px;
}

.advantage__text h5 {
  color: #34449C;
}

.advantage__text .description {
  padding-top: 0px;
  margin-bottom: 24px;
  width: 45%;
}

.question {
  position: absolute;
  -webkit-transform: translateY(-390%);
          transform: translateY(-390%);
  margin-left: 75px;
  padding: 20px 20px;
  display: inline-block;
  background: linear-gradient(326.06deg, #f0ebff 11.53%, #ffffff 74.32%);
  -webkit-box-shadow: 0px 13.5277px 39.7872px rgba(187, 166, 255, 0.78);
          box-shadow: 0px 13.5277px 39.7872px rgba(187, 166, 255, 0.78);
  border-radius: 11.9362px;
}

.question__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #000;
  padding-bottom: 10px;
}

.question__button {
  padding: 16px 22px;
  background: linear-gradient(326.06deg, #2641D1 11.53%, #3333A3 74.32%);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}

.team {
  margin-bottom: 144px;
}

.team__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 400px;
}

.team__header {
  padding-top: 32px;
  width: 70%;
}

.team .description {
  width: 60%;
}

.description {
  padding-top: 16px;
  color: #000;
}

.small {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.clients {
  padding: 32px 32px;
  display: inline-block;
  background: linear-gradient(236.29deg, #ffffff 29.99%, #f4f9ff 79.17%);
  -webkit-box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
          box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
  border-radius: 10px;
  -webkit-transform: translateY(-160%);
          transform: translateY(-160%);
}

.clients__descr {
  padding-top: 10px;
}

.clients__amount {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 44px;
}

.clients .description {
  width: 55%;
}

.lawyers {
  padding: 24px 24px;
  display: inline-block;
  background: linear-gradient(236.29deg, #ffffff 29.99%, #f4f9ff 79.17%);
  -webkit-box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
          box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
  border-radius: 10px;
  -webkit-transform: translateY(-175%);
          transform: translateY(-175%);
  margin-left: 15px;
}

.lawyers__amount {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

.lawyers .description {
  width: 65%;
}

.jurist {
  padding: 24px 24px;
  display: inline-block;
  background: linear-gradient(236.29deg, #ffffff 29.99%, #f4f9ff 79.17%);
  -webkit-box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
          box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
  border-radius: 10px;
  -webkit-transform: translateY(-185%);
          transform: translateY(-185%);
  margin-left: 10px;
}

.jurist__amount {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
}

.jurist .description {
  width: 65%;
}

.sirius {
  padding: 32px 32px;
  display: inline-block;
  background: linear-gradient(236.29deg, #ffffff 29.99%, #f4f9ff 79.17%);
  -webkit-box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
          box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
  border-radius: 10px;
  -webkit-transform: translateY(-135%);
          transform: translateY(-135%);
  margin-left: 12px;
}

.sirius .description {
  width: 60%;
}

.policy {
  max-width: 90%;
  margin: auto;
}

.policy__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.policy__text {
  position: relative;
}

.policy__header {
  margin: 0;
  padding-top: 120px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 55px;
  color: #000;
  width: 65%;
}

.policy__description {
  margin: 0;
  padding-top: 16px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #000;
  width: 40%;
}

.policy__button {
  margin-top: 32px;
  padding: 16px 32px;
  background: #273895;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.policy__picture {
  position: absolute;
  -webkit-transform: translateX(190%);
          transform: translateX(190%);
}

.nav {
  margin-top: 50px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  margin-right: 50px;
}

.nav__link {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
  color: #000;
  letter-spacing: 0.03em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__link:hover {
  color: #273895;
}

.nav__link:active {
  color: #273895;
}

.process__decor {
  position: absolute;
  -webkit-transform: translateX(-155%);
          transform: translateX(-155%);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.conditions {
  background: #f4f7fa;
  -webkit-box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
          box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
  border-radius: 10px;
  padding: 40px 0px 40px 90px;
  position: relative;
  display: inline-block;
  margin-bottom: 200px;
}

.conditions__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.conditions__item {
  width: 30%;
}

.conditions__descr {
  padding-top: 8px;
  margin: 0;
  width: 90%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: #000;
}

.header {
  margin: auto;
  max-width: 90%;
}

.header__row {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__description {
  width: 40%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #000;
}

.header__number {
  margin-right: 35px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #000;
}

.header__button {
  padding: 16px 32px;
  background: #273895;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__description {
  padding-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 40%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #3b1d8f;
}

body {
  margin: 0;
  background: #E5E5E5;
}

.col-4 {
  width: 32%;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.container {
  width: 80%;
  margin: auto;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #000;
}

.description {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}

.sirius__name {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 44px;
  letter-spacing: 0.17em;
}
/*# sourceMappingURL=index.css.map */